_temp/
*.pt
*.png
!results/**/*.png
!results/ls/synthetic-grads.pt
__pycache__/
.pytest_cache/
.venv/

# Exclude huge pretrained checkpoints
flower/baselines/fedwav2vec2/docs/pretrained_wav2vec2/
**/wav2vec2_checkpoint/**

# exclude upstream Flower framework clone
flower/
